
# LaTeX build outputs
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out

*.run.xml
*.synctex.gz
*.toc

# Auxiliary index and glossary outputs
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist

# Beamer and other auxiliary files
*.nav
*.snm
*.vrb

